# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Backups and Swap files
*~
*.swp

#Linked Executable
src/sync_p2p

#Any file posted for synchronization
src/synced_dir/*
src/synced_dir/!README
